<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡電商</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="hero-img">
      <div class="container hero">
        <div class="hero-action">
          <h3>Promise-Desert 2020 早春系列</h3>
          <h1>看得清，才能看得遠</h1>
          <button class="btn primary-bg">立即購買</button>
        </div>
      </div>
    </div>

    <div class="intro">
      <div class="container intro-section">
        <h2>用專業的心，做專業的事</h2>

        <ul>
          <li>
            <div class="intro-img intro-money"></div>
            <h4>單一價格</h4>
            <p class="intro-text">
              無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
            </p>
          </li>
          <li>
            <div class="intro-img intro-clock"></div>
            <h4>20 分鐘即可取件</h4>
            <p class="intro-text">
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li>
            <div class="intro-img intro-heart"></div>
            <h4>安心售後服務</h4>
            <div class="intro-text">
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </div>
          </li>
          <li>
            <div class="intro-img intro-glasses"></div>
            <h4>關於鏡片</h4>
            <p class="intro-text">
              使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- s1 -->
    <div class="container classic-section">
      <h2>經典系列鏡框</h2>
      <ul>
        <li>
          <div class="classic-img classic-1"></div>
          <h5>OPTICAL</h5>
        </li>
        <li>
          <div class="classic-img classic-2"></div>
          <h5>SUNGLASSES</h5>
        </li>
        <li>
          <div class="classic-img classic-3"></div>
          <h5>FUNCTIONAL</h5>
        </li>
      </ul>
    </div>
     <!-- s2 -->
     <div class="design">
      <div class="container design-section">
        <h2>聯名設計鏡框</h2>
        <ul>
          <li>
            <div class="design-img design-1"></div>
            <div class="design-text"><h5>DOUBLE A+</h5></div>
          </li>
          <li>
            <div class="design-img design-2"></div>
            <div class="design-text"><h5>YOUTH</h5></div>
          </li>
        </ul>
      </div>
    </div>
    <!-- s3 -->
    <div class="container customer-section">
      <h2>顧客推薦</h2>
      <ul>
        <li>
          <div class="customer-img customer-1"></div>
          <div class="customer-name">Jessy</div>
          <div class="customer-review">
            眼鏡品質優良，下次還會想來這邊購買！
          </div>
          <time class="customer-date">2021/06/20</time>
        </li>
        <li>
          <div class="customer-img customer-2"></div>
          <div class="customer-name">凱倫</div>
          <div class="customer-review">
            做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
          </div>
          <div class="customer-date">2021/04/18</div>
        </li>
        <li>
          <div class="customer-img customer-3"></div>
          <div class="customer-name">悠悠</div>
          <div class="customer-review">
            謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
          </div>
          <time class="customer-date">2020/12/25</time>
        </li>
        <li>
          <div class="customer-img customer-4"></div>
          <div class="customer-name">Kyuan</div>
          <div class="customer-review">
            服務很好，品質沒有任何問題，非常喜歡。
          </div>
          <time class="customer-date">2020/10/31</time>
        </li>
      </ul>
    </div>
    <!-- s4 -->
    <div class="suggestion">
      <div class="contact-section container">
        <h2>聯絡我們</h2>
        <div class="form">
          <div class="form-text">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </div>
          <form action="">
            <label for="name"> 姓名</label>
            <input type="text" placeholder="陳小明" id="name" />
            <label for="tel"> 聯絡電話</label>
            <input type="tel" placeholder="0912-345-678" id="tel" />
            <label for="email"> 電子郵件</label>
            <input type="email" placeholder="example@email.com" id="email" />
            <label for="feedback"> 意見反應</label>
            <textarea type="text" id="feedback" name="feed" rows="5" cols="33">
請輸入您的意見</textarea
            >

            <div class="check">
              <input type="checkbox" class="checkbox" /><span for=""
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span
              >
            </div>
            <div>
              <button class="submitBtn primary-bg">確認送出</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
