<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡電商-Optical</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- subnav -->
    <div class="container subnav">
      <ul>
        <li>OPTICAL</li>
        <li>SUNGLASSES</li>
        <li>FUNCTIONAL</li>
      </ul>
    </div>
    <div class="optical-banner">
      <ul>
        <li class="banner-1"></li>
        <li class="banner-2"></li>
      </ul>
    </div>
    <div class="container product-section">
      <div class="h2">Celluloid Combi</div>
      <div class="h3">賽璐珞鈦金屬混合鏡框</div>
      <ul>
        <!-- p1 -->
        <li>
          <div class="product-img product-img-1"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p2 -->
        <li>
          <div class="product-img product-img-2"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p3 -->
        <li>
          <div class="product-img product-img-3"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p4 -->
        <li>
          <div class="product-img product-img-4"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p5 -->
        <li>
          <div class="product-img product-img-5"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p6 -->
        <li>
          <div class="product-img product-img-6"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p7 -->
        <li>
          <div class="product-img product-img-7"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p8 -->
        <li>
          <div class="product-img product-img-8"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p9 -->
        <li>
          <div class="product-img product-img-9"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p10 -->
        <li>
          <div class="product-img product-img-10"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
         <!-- p11 -->
         <li>
          <div class="product-img product-img-11"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
        <!-- p12 -->
        <li>
          <div class="product-img product-img-12"></div>
          <div class="product-text">
            <div class="product-no">BJ41600S</div>
            <div class="product-price">NTD3,490</div>
          </div>
          <ul class="product-color-tag">
            <li class="product-gray"></li>
            <li class="product-red"></li>
          </ul>
        </li>
      </ul>
      
    </div>
    <div class="container pagination">
      <ul>
        <li><a href="">上一頁</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">下一頁</a></li>
      </ul>
      <div class="next"></div>
    </div>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
